<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bay boy</title>
  </head>
  <body>
    <h1>Dayum my Bad Boy</h1>
    <p>You are a naughty boy/ girl</p>
  </body>
</html>
