<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to my first Website with Node JS</h1>
    <p>That's a pleasure to learn</p>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="/help">Help</a></li>
      <li><a href="/bad">Don't click there</a></li>
    </ul>
  </body>
</html>
